{
  "swagger": "2.0",
  "info": {
    "title": "Workflow Settings Api",
    "description": "About this api",
    "version": "1"
  },
  "host": "google.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Some very high level details",
        "description": "Some more details about this path",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                }
              },
              "required": [

              ]
            }
          }
        ],
        "responses": {
          "200": {
            "examples": {
              "application/json": {
                "name": "Timbo Baggins",
                "email": "tbaggings@onering.com",
                "key": "some_key_value"
              }
            }
          }
        }
      }
    },
    "includes/objects/and/arrays": {
      "post": {
        "tags": [
          "Use cases"
        ],
        "summary": null,
        "description": null,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "object": {
                  "type": "object",
                  "properties": {
                    "key_1": {
                      "type": "string"
                    },
                    "key_2": {
                      "type": "string"
                    }
                  }
                },
                "array": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "item_1": {
                        "type": "string"
                      },
                      "item_2": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "required": [

              ]
            }
          }
        ],
        "responses": {
          "200": {
            "examples": {
              "application/json": {
                "name": "Timbo Baggins",
                "email": "tbaggings@onering.com",
                "key": "abcd"
              }
            }
          }
        }
      }
    },
    "path/{id}/with_params": {
      "post": {
        "tags": [
          "Use cases"
        ],
        "summary": null,
        "description": null,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                }
              },
              "required": [

              ]
            }
          }
        ],
        "responses": {
          "200": {
            "examples": {
              "application/json": {
                "name": "Timbo Baggins",
                "email": "tbaggings@onering.com",
                "key": "abcd"
              }
            }
          }
        }
      }
    }
  }
}
